@font-face {
  font-family: 'AirbnbCerealBlack';
  src: url('/src/font/airbnb-cereal-app/AirbnbCerealBlack.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'AirbnbCerealExtraBold';
  src: url('/src/font/airbnb-cereal-app/AirbnbCerealExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'AirbnbCerealBold';
  src: url('/src/font/airbnb-cereal-app/AirbnbCerealBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'AirbnbCerealMedium';
  src: url('/src/font/airbnb-cereal-app/AirbnbCerealMedium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'AirbnbCerealBook';
  src: url('/src/font/airbnb-cereal-app/AirbnbCerealBook.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'AirbnbCerealLight';
  src: url('/src/font/airbnb-cereal-app/AirbnbCerealLight.ttf');
  font-weight: 200;
}

:root {
  --uiPrimaryBlue: #04ACEC;
  --uiDarkBlue: #01374B;
  --uiGrey: #999999;
  --uiLightGrey: #D9D9D9;
  --uiWhite: #fff;
}

html,
body {
  font-family: 'AirbnbCerealBook';
}

/* Position */
.z-top {
  z-index: 10 !important;
}

/* Components */
.spinner {
  display: block;
  border: 1px solid #f3f3f3;
  border-top: 1px solid #3498db;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ui-steps {
  display: flex;
  min-height: 20px;
  align-items: center;
  justify-content: space-between;
}

.ui-steps .ui-step {
  height: 4px;
  width: 80px;
  background: var(--uiGrey);
  display: block;
  border-radius: 1rem;
  margin-right: 5px;
}

.ui-steps .ui-step.active {
  background: var(--uiWhite);
}

.pricing-table {
  min-height: 720px;
  display: flex;
  align-items: flex-start;
  margin: 1rem auto;
}

@media screen and (max-width:768px) {
  .pricing-table {
    min-height: auto;
  }
}

.features {
  border-collapse: collapse;
  font-family: sans-serif;
}

.features__cell {
  width: 25%;
  font-size: 0.9em;
  font-weight: normal;
  padding: 1.3rem 1rem !important;
  color: #333333;
  border: 1px solid #dddddd;
  line-height: 1.4;

}

.features__cell--first {
  width: 25%;
}


.features__cell--shaded {
  background: #fff;
  width: 16.67% !important;
  text-align: center;
}

.features__cell--center {
  text-align: center;
}

.features__body tr:nth-child(odd) {
  background: #F2F5F8;
}

.switcher {
  width: 280px;
  min-height: 48px;
  padding: 0.6rem;
  border-radius: 4rem;
  display: flex;
  margin: 4rem auto;
  align-items: center;
  justify-content: space-between;
  background: #F2F5F8;
}

.switcher .switcher-btn {
  padding: 1rem 2rem;
  color: var(--uiDarkBlue);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.6s ease-in-out;
  border-radius: 4rem;
  font-family: 'AirbnbCerealBook';
}

.switcher .switcher-btn.active {
  background: var(--uiWhite);
  color: var(--uiDarkBlue);
}

.ui-border__all-grey {
  border: 1px solid var(--uiLightGrey);
  border-radius: 4px;
}

.ui-border__all-dark {
  border: 1px solid#667C8A;
  border-radius: 4px;
}

.ui-border__all-blue {
  border: 1px solid var(--uiPrimaryBlue);
  border-radius: 4px;
}

.ui-dot__list {
  height: 6px;
  width: 6px;
  display: inline-block;
  border-radius: 100%;
  background: var(--uiDarkBlue);
}

.features .nav-tabs,
.ui-tabs .nav-tabs {
  border-bottom: none;
}

.features .nav-tabs .nav-item {
  padding: 0.4rem;
}

.features .nav-tabs .nav-item .nav-link {
  padding: 1rem;
  border: 2px solid var(--uiPrimaryBlue);
  color: var(--uiPrimaryBlue);
  border-radius: 3rem;
}

.features .nav-tabs .nav-item .nav-link.active {
  background: var(--uiPrimaryBlue);
  color: var(--uiWhite);
}

.ui-tabs .nav-tabs .nav-item {
  padding: 2rem 1rem;
}

.ui-tabs .nav-tabs .nav-item .nav-link {
  border: 1px solid var(--uiLightGrey);
  border-radius: 1;
  padding: 1rem;
  font-size: 1rem;
  color: var(--uiDarkBlue);
  font-family: "AirbnbCerealMedium";
}

.ui-tabs .nav-tabs .nav-item .nav-link:hover,
.ui-tabs .nav-tabs .nav-item .nav-link.active {
  color: var(--uiPrimaryBlue);
  font-family: "AirbnbCerealMedium";
  border-color: var(--uiPrimaryBlue);
}

.ui-tabs .nav-tabs .nav-item .nav-link i {
  font-size: 1.5rem;
}

.ui-tabs .nav-tabs .nav-item .nav-link p {
  margin-bottom: 0;
  margin-top: 1rem;
}

.ui-dotgrid__left,
.ui-dotgrid__right {
  position: absolute;
}

.ui-dotgrid__left {
  top: 0;
  left: 0;
  z-index: 1;
}

.ui-dotgrid__right {
  top: 0;
  right: 0;
}

@media screen and (max-width:768px) {

  .ui-dotgrid__left,
  .ui-dotgrid__right {
    max-width: 80px !important;
  }
}

.ui-testimonial {
  display: flex;
  min-height: 50px;
  align-items: center;
}

.ui-testimonial .ui-testimonial__img img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.ui-testimonial .ui-testimonial__user {
  padding: 1rem 0;
}

.ui-icon {
  width: 64px;
  height: 64px;
  display: block;
  margin: 1rem 0;
}

.ui-divider {
  height: 1px;
  width: 100%;
  border-top: 1px solid #647279;
  margin: 1.3rem 0;
}

.ui-divider.ui-divider--lighter {
  border-color: var(--uiLightGrey);
}

.brand img {
  width: 60px;
}

.brand-logo {
  max-width: 200px;
  display: block;
  margin: 1rem auto;
}

.owl-item {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-nav {
  text-align: right;
  padding: 3rem;
}

.owl-nav .owl-prev,
.owl-nav .owl-next,
.carousel-control-next,
.carousel-control-prev {
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 1.4rem;
  color: #364D63 !important;
  text-align: center;
  opacity: 1;
  transition: opacity .15s ease;
  background: #F2F5F8;
  border: none;
}

.owl-nav .owl-prev:focus,
.owl-nav .owl-next:focus {
  outline: none;
}

.ui-accordion .card {
  border: none;
  padding: 1rem 0;
}

.ui-accordion .card a {
  text-decoration: none !important;
}

/* Input */

.ui-input__group {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.08);
  width: fit-content;
}

.ui-input--select:focus-within {
  border: 1px solid var(--uiPrimaryBlue);
}

.form-control:focus,
.ui-input:focus {
  outline: none;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.08) !important;
  border-color: var(--uiPrimaryBlue);
}


.ui-input__group_form {
  max-width: 470px;
  width: 100%;
  margin: 0 0;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.08);
}

.ui-input__group_form-alt {
  border: 1px solid var(--uiLightGrey);
  padding: 2px;
  border-radius: 4px;
}

.ui-input__group_form:focus {
  outline: none;
}

.ui-input__group_form .form-control {
  border: none;
}

.ui-input__group_form .form-control:focus {
  box-shadow: none;
}

.ui-input__group_form input {
  height: 44px;
}


.ui-input__group_form .input-group-btn:last-child>.btn,
.ui-input__group_form .input-group-btn:last-child>.btn-group {
  z-index: 2;
  margin-left: 0px;
}

.ui-input {
  height: 48px;
  padding: 0 1rem;
  border: 1px solid #667C8A;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'AirbnbCerealBook';
  color: #000;
}

.ui-checkgroup {
  display: block;
}

.ui-checkgroup input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.ui-checkgroup label {
  position: relative;
  cursor: pointer;
}

.ui-checkgroup label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid var(--uiPrimaryBlue);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.ui-checkgroup input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid var(--uiPrimaryBlue);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.ui-radio-input-element {
  display: none;
}

.ui-radio-input {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--uiLightGrey);
  border-radius: 4px;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.ui-radio-input:hover {
  cursor: pointer;
}

.ui-radio-input-element:checked+.ui-radio-input {
  background: var(--uiPrimaryBlue);
  border-color: var(--uiPrimaryBlue);
  color: var(--uiWhite);
}


.video-modal .modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}


.video-modal .modal-body {
  position: relative;
  padding: 0px;
}

.video-modal .close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}


/* Typography */
.ui-body__text-bolder,
.ui-body__text--small .ui-body__text {
  font-size: 1rem !important;
  font-family: 'AirbnbCerealBook';
}

.ui-body__text-larger {
  font-size: 1.2rem !important;
  font-family: 'AirbnbCerealBook';
}

.ui-body__text--small {
  font-size: 0.75rem !important;
  font-family: 'AirbnbCerealBook' !important;
}

.ui-body__text-bolder {
  font-family: 'AirbnbCerealMedium' !important;
}

.ui-body__h1 {
  font-size: 3rem !important;
  font-family: 'AirbnbCerealBold';
}

.ui-body__h2 {
  font-size: 2.4rem !important;
  font-family: 'AirbnbCerealBold';
}

.ui-body__h3 {
  font-size: 2rem !important;
  font-family: 'AirbnbCerealMedium';
}

.ui-body__h3--mid {
  font-size: 1.5rem !important;
  font-family: 'AirbnbCerealMedium';
}
#container {
  min-width: 100%;
  margin: 0;
  padding: 0;
}
#company-h3 {
  display: flex;
  justify-content: center;
}
#why-cont {
  width: 100%;
}
#why {
  width: 100%;
}
#row  {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#ad {
  margin-left: 40px;
  border-radius: 30%;
}
/* #reg-form-container {
  min-width: 100%;
}
#reg-form {
  min-width: 100%;
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 30px;
  margin: 0;
}
#reg-form .form-group {
  min-width: 300px;
  margin: 0 25px;
} */
#rad {
  padding: 20px;
}
.back {
  visibility: hidden;
}

#logo-div {
  padding: 0 20px;
  /* margin: 5px; */
  height: 100px;
  min-width: 150px;
  display: flex;
  justify-content: center;
}
#travel {
  object-fit: contain;
  height: 50%;
}
#logo {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
#testimonial {
  height: 400px;
  border-radius: 10px;
}
#mail {
  text-transform: lowercase;
}
@media only screen and (max-width: 500px) {
  #reg-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #reg-form .form-group {
    width: 80%;
  }
}
.ui-body__h4 {
  font-size: 1.2rem !important;
  font-family: 'AirbnbCerealMedium';
}

.ui-body__pretitle {
  font-size: 1.2rem !important;
  font-family: 'AirbnbCerealMedium';
  text-transform: uppercase;
}

.ui-body__h1--mid {
  font-size: 3rem !important;
  font-family: 'AirbnbCerealMedium';
}

.ui-body__bolder {
  font-family: 'AirbnbCerealMedium';
}

/* Colors */
.ui-text__dark-blue {
  color: var(--uiDarkBlue) !important;
}

.ui-text__primary-blue {
  color: var(--uiPrimaryBlue) !important;
}

.ui-text__grey {
  color: var(--uiGrey) !important;
}

.ui-bg__faded {
  background: #F2F5F8 !important;
}

.ui-bg__faded-alt {
  background: #F8FAFB !important;
}

.ui-bg__dark {
  background: #01374B !important;
}

/* Buttons */
.ui-btn {
  padding: 0.75rem 2.5rem;
  background: transparent;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  text-decoration: none !important;
  text-transform: capitalize;
  font-family: 'AirbnbCerealMedium';
  transition: 0.4s ease-in-out;
  min-width: 180px;
}

.ui-btn.ui-btn--primary {
  background: var(--uiPrimaryBlue);
  color: var(--uiWhite);
}

.ui-btn.ui-btn--primary-outline {
  background: transparent;
  color: var(--uiPrimaryBlue);
  border: 2px solid var(--uiPrimaryBlue);
}

.ui-btn.ui-btn--primary-outline:hover {
  background: var(--uiPrimaryBlue);
  color: var(--uiWhite);
}

.ui-btn.ui-btn--rounded {
  border-radius: 3rem;
}

.ui-btn.ui-btn--primary:hover {
  opacity: 0.7;
}

.ui-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.ui-link {
  font-size: 1rem;
  text-transform: capitalize;
  font-family: 'AirbnbCerealMedium' !important;
  text-decoration: none;
}

.ui-link.ui-link--primary:hover,
.ui-link.ui-link--primary {
  color: var(--uiPrimaryBlue) !important;
}

.ui-accordion__btn {}


/* Static Navigation */
.ui-header {
  position: fixed;
  width: 100%;
  min-height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background: var(--uiWhite);
  z-index: 100;
}

.ui-header .ui-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}

.ui-header .ui-nav .ui-nav__brand img {
  width: 55px;
}

.ui-header .ui-nav .ui-nav__menu-list {
  display: inline;
  list-style: none;
}

.ui-header .ui-nav .ui-nav__left {
  min-height: 50px;
  display: flex;
  align-items: center;
}

.ui-header .ui-nav .ui-nav__menu-list .ui-nav__menu-item {
  display: inline;
}

.ui-header .ui-nav .ui-nav__menu-list .ui-nav__menu-item .ui-nav__menu-link {
  padding: 1rem;
  color: var(--uiDarkBlue);
  text-decoration: none !important;
  transition: 0.4s ease-in-out;
}

.ui-header .ui-nav .ui-nav__menu-list .ui-nav__menu-item .ui-nav__menu-link.active,
.ui-header .ui-nav .ui-nav__menu-list .ui-nav__menu-item .ui-nav__menu-link:hover {
  color: var(--uiPrimaryBlue);
}

.ui-mobile-nav {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: var(--uiWhite);
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: start;
  justify-content: start;
  transition: 0.2s ease-in-out;
  transform: scale(0);
  padding-top: 4rem;
  overflow: auto;
}

.ui-mobile-nav .menu {
  position: relative;
  z-index: 100;
}

.ui-mobile-nav .menu .menu-body {
  padding: 0.5rem;
  text-align: center;
}

.ui-mobile-nav .lines {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ui-mobile-nav .lines {
  width: 100%;
}

.ui-mobile-nav .lines img {
  width: 75%;
}

.ui-mobile-nav .menu .menu-body .menu-link {
  display: block;
  margin: 2.3rem auto;
  color: var(--uiDarkBlue);
  font-size: 1rem;
}

.ui-mobile-nav .menu .menu-body .menu-footer {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  margin-top: 8rem;
}

.ui-mobile-nav .close {
  position: fixed;
  top: 2rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--uiDarkBlue);
}

.ui-mobile-nav .close img {
  width: 33px;
}

.ui-nav .ui-nav-toggle {
  display: none;
}

.ui-nav .ui-nav-toggle span {
  display: block;
  width: 33px;
  height: 2px;
  border-top: 2px solid #999;
  margin: 0.35rem auto;
}

@media screen and (max-width:950px) {
  .ui-mobile-nav {
    display: flex;
  }

  .ui-mobile-nav.active {
    transform: scale(1);
  }

  .ui-nav .ui-nav__menu,
  .ui-nav .ui-nav__right {
    display: none;
  }

  .ui-nav .ui-nav-toggle {
    display: block;
  }
}

.ui-hero {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.ui-page-heading {
  min-height: 50vh;
  padding-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 50%;
  background-size: cover;
}


.ui-hero.ui-hero--small {
  min-height: 30vh;
}

.ui-hero .ui-hero__content {
  padding: 120px 0 3rem 0;
}

.ui-hero .ui-hero__content .ui-hero__img {
  width: 100%;
}

.ui-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-auth .ui-auth__left {
  min-height: 100vh;
  width: 33.333333%;
  position: fixed;
  top: 0;
  left: 0;
  background: url('../static/backgrounds/grid_bg.png');
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.ui-auth .ui-auth__menu {
  padding: 3rem;
}

@media screen and (max-width: 995px) {
  .ui-auth .ui-auth__menu {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .reverse-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
  }


}

.ui-section.is--small {
  min-height: 10vh;
}

.ui-section.is--large {
  min-height: 60vh;
}

.ui-section .ui-section__content {
  position: relative;
  padding: 3rem 0;
  z-index: 10;
}

.ui-section .ui-section__content .ui-section__img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  margin: 1.4rem auto;
}

.ui-section .ui-section__content .ui-section__img.fill {
  max-height: 70vh;
  object-fit: cover;
}

@media screen and (max-width:768px) {
  .ui-section .ui-section__content .ui-section__img.fill {
    max-height: 40vh;
  }
}

.ui-section__list {
  padding: 0;
}

.ui-section__list .ui-section__list-item {
  display: flex;
  min-height: 24px;
  align-items: center;
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--uiDarkBlue);
}

.ui-section__list .ui-section__list-item img {
  width: 24px;
  display: block;
  margin-right: 1rem;
}


.footer {
  padding: 6rem 0 3rem 0;
  background: var(--uiWhite);
}

.footer .footer-logo {
  width: 50px;
}

.footer .footer__title {
  font-size: 1.2rem;
  color: var(--uiDarkBlue);
  font-family: 'AirbnbCerealMedium';
}

.footer .footer__list {
  padding: 0;
  list-style: none;
}

.footer .footer__list .footer__list-item {
  margin: 0.44rem 0;
}

.footer .footer__list .footer__list-link {
  color: var(--uiDarkBlue);
  font-size: 1rem;
  font-family: 'AirbnbCerealBook';
}

.social-group a,
.footer .footer__social a:hover,
.footer .footer__social a {
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
}

.footer__bottom .links a {
  color: var(--uiDarkBlue);
  font-size: 1rem;
}

.footer__bottom .store a img {
  max-width: 200px;
}